<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}
    Firstname    <input type="text" name="fnam" value="{{updatebtn.fnames}}"><br>
    Secondname   <input type="text" name="snam" value="{{updatebtn.snames}}"><br>
    Class<input type="text" name="cla" value="{{updatebtn.classes}}"><br>
    Division <input type="text" name="di" value="{{updatebtn.divi}}"><br>
    <input type="submit" value="update">
  </form>  
</body>
</html>