<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view button</title>
</head>
<body>
    <table>
        <tr>
            <th>firstname</th>
            <th>secondname</th>
            <th>class</th>
            <th>division</th>
        </tr>
        <tr>
            <td>{{btn.fnames}}</td>
            <td>{{btn.snames}}</td>
            <td>{{btn.classes}}</td>
            <td>{{btn.divi}}</td>
            <td><img src="{{btn.imag.url}}" width="60" height="70 alt="" ></td>
            
        </tr>
    </table>
</body>
</html>